<!--moved to layouts/application.html.erb 
<%= render 'home/header' %>
-->
<h1>Welcome To My App</h1>
<p>It's Gonna Kick all Ass ...</p>
<!-- replaced by partial: _header.html.erb
<%= link_to 'About Us', home_about_path %>
-->
